@page
@using Microsoft.AspNetCore.Http
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card">
    <h1>Editor</h1>
    <img src="/svg/editor.svg"/>
    <a asp-page="Editor/Modules"><button>Launch Editor</button></a>
</div>
<div class="card">
    <h1>Tutorials</h1>
    <img src="/svg/tutorial.svg" />
    <a asp-page="Tutorial/Tutorial-01">1. First tutorial</a><br/>
    <a>2. Second tutorial</a><br/>
    <a>3. ...</a><br/>
    <br/>
    <a>Documentation (PDF)</a>
</div>
<div class="card">
    <h1>Sources</h1>
    <img src="/svg/code.svg"/>
    <a href="https://github.com/silhanji/lsystems"><button>View code on Github</button></a>
</div>