@page
@using Microsoft.AspNetCore.Http
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card">
    <h1>Editor</h1>
    <img src="/svg/editor.svg"/>
    <a asp-page="Editor/Modules"><button>Launch Editor</button></a>
</div>
<div class="card">
    <h1>Tutorials</h1>
    <img src="/svg/tutorial.svg" />
    <a asp-page="Tutorial/Tutorial-01">1. The Basics</a><br/>
    <a asp-page="Tutorial/Tutorial-02">2. Parameters</a><br/>
    <a asp-page="Tutorial/Tutorial-03">3. Polygons</a><br/>
    <br/>
    <a href="/files/docs.pdf">Download all (PDF)</a>
</div>
<div class="card">
    <h1>Sources</h1>
    <img src="/svg/code.svg"/>
    <a href="https://github.com/silhanji/lsystems"><button>View code on Github</button></a>
</div>